.progress-bar-info-first{
	background-color: $five;
}
.progress-bar-info-two{
	background-color: $five1;
}
.progress-bar-info-three{
	background-color: $five2;
}
.progress-bar-info-four{
	background-color: $five3;
}
@font-face {
  font-family: behzad;
  src: url('/src/fonts/behzad.eot'); 
  src: url('/src/fonts/behzad.eot?#iefix') format('embedded-opentype'), 
       url('/src/fonts/behzad.woff') format('woff'), 
  url('/src/fonts/behzad.woff2') format('woff2'), 
       url('/src/fonts/behzad.ttf')  format('truetype'), 
       url('/src/fonts/behzad.svg#svgFontName') format('svg'); 
}
body{
	font-family: 'behzad';
	font-size: 14px;
}
md-menu-item{
	height: 55px;
}
md-menu-item > .md-button{
	font-size: 14px;
}
.container .col-xs-12 section > .md-button{
	width: 100%;
}

@media (min-width: 1200px){
	.col-lg-2 {
    	width: 18.666667%;
	}
}

@media (min-width: 992px){
	.col-md-2 {
    	width: 19.666667%;
	}
}
.questionId-first{
	background: $bg-question-first;
}
.questionId-second{
	background: $bg-question-second;
}
.questionId-thirth{
	background: $bg-question-thirth;
}
.questionId-fourth{
	background: $bg-question-fourth;
}
.first-answer-0{
	background: $one;
}

.second-answer-0{
	background: $two;
}

.threeth-answer-0{
	background: $three;
}

.fourth-answer-0{
	background: $four;
}

.fifth-answer-0{
	background: $five;
}

.first-answer-1{
	background: $one1;
}

.second-answer-1{
	background: $two1;
}

.threeth-answer-1{
	background: $three1;
}

.fourth-answer-1{
	background: $four1;
}

.fifth-answer-1{
	background: $five1;
}

.first-answer-2{
	background: $one2;
}

.second-answer-2{
	background: $two2;
}

.threeth-answer-2{
	background: $three2;
}

.fourth-answer-2{
	background: $four2;
}

.fifth-answer-2{
	background: $five2;
}

.first-answer-3{
	background: $one3;
}

.second-answer-3{
	background: $two3;
}

.threeth-answer-3{
	background: $three3;
}

.fourth-answer-3{
	background: $four3;
}

.fifth-answer-3{
	background: $five3;
}


md-content{
	text-align: center;
}
section.layout-wrap p{
    text-align: right;
}
md-card{
	margin:0.3em !important;
}
md-card md-card-content{
	padding-top: 5px;
    padding-bottom: 5px; 
}
#md-card{
	height: 90vh !important;
	margin-top: 1em;
}
html, body{
	height: auto !important;
}
a.md-button.md-default-theme.md-green.md-raised, a.md-button.md-green.md-raised, a.md-button.md-default-theme.md-green.md-fab, a.md-button.md-green.md-fab, .md-button.md-default-theme.md-green.md-raised, .md-button.md-green.md-raised, .md-button.md-default-theme.md-green.md-fab, .md-button.md-green.md-fab{
	color: $white;
    background-color: $lightGreen;
}
a.md-button.md-default-theme.md-green.md-raised:not([disabled]):hover, a.md-button.md-green.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-green.md-fab:not([disabled]):hover, a.md-button.md-green.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-green.md-raised:not([disabled]):hover, .md-button.md-green.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-green.md-fab:not([disabled]):hover, .md-button.md-green.md-fab:not([disabled]):hover{
	  background-color: $lightGreen;
}

a.md-button.md-default-theme.md-blue.md-raised, a.md-button.md-blue.md-raised, a.md-button.md-default-theme.md-blue.md-fab, a.md-button.md-blue.md-fab, .md-button.md-default-theme.md-blue.md-raised, .md-button.md-blue.md-raised, .md-button.md-default-theme.md-blue.md-fab, .md-button.md-blue.md-fab{
	color: $white;
    background-color: $blue;
}
a.md-button.md-default-theme.md-blue.md-raised:not([disabled]):hover, a.md-button.md-blue.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-blue.md-fab:not([disabled]):hover, a.md-button.md-blue.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-blue.md-raised:not([disabled]):hover, .md-button.md-blue.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-blue.md-fab:not([disabled]):hover, .md-button.md-blue.md-fab:not([disabled]):hover{
	  background-color: $blue;
}

a.md-button.md-default-theme.md-red.md-raised, a.md-button.md-red.md-raised, a.md-button.md-default-theme.md-red.md-fab, a.md-button.md-red.md-fab, .md-button.md-default-theme.md-red.md-raised, .md-button.md-red.md-raised, .md-button.md-default-theme.md-red.md-fab, .md-button.md-red.md-fab{
	color: $white;
    background-color: $lightRed;
}
a.md-button.md-default-theme.md-red.md-raised:not([disabled]):hover, a.md-button.md-red.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-red.md-fab:not([disabled]):hover, a.md-button.md-red.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-red.md-raised:not([disabled]):hover, .md-button.md-red.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-red.md-fab:not([disabled]):hover, .md-button.md-red.md-fab:not([disabled]):hover{
	  background-color: $lightRed;
}
// .font-weight-heavy {
//     font-weight: $fontWeightHeavy;
// }
// .mb0 {
//     margin-bottom: 0px!important;
// }
// .mt0 {
//     margin-top: 0px!important;
// }
// .mr5 {
//     margin-right: 5px!important;
// }
// .mt5 {
//     margin-top: 5px!important;
// }
// .mb5 {
//     margin-bottom: 5px!important;
// }
// .mb10 {
//     margin-bottom: 10px!important;
// }
// .mr15 {
//     margin-right: 15px!important;
// }
// .mb15 {
//     margin-bottom: 15px!important;
// }
// .mt20 {
//     margin-top: 20px!important;
// }
// .mb20 {
//     margin-bottom: 20px!important;
// }
// .mt95 {
//     margin-top: 95px;
// }
// .ml0 {
//     margin-left: 0!important;
// }
// .pt0 {
//     padding-top: 0!important;
// }
// .pt5 {
//     padding-top: 5px;
// }
// .pb5 {
//     padding-bottom: 5px;
// }
// .pr0 {
//     padding-right: 0;
// }
// .pl0 {
//     padding-left: 0!important;
// }
// .well {
//     padding: 15px;
//     background: #fff;
//     box-shadow: none;
//     -webkit-box-shadow: none;
// }
// .text-left {text-align: left!important;}
// .display-inline-block {display: inline-block;}
// .display-inline {display: inline;}
// .min-height-0 {min-height: 0!important;}
