//$darkGrey:              #333;
$mediumGrey:            #a8acb1;
$lightGrey:             #d9e0e7;

$darkGreen:             #008a8a;
$lightGreen:            #00E676;

$darkOrange:            #c47d15;
$lightOrange:           #f59c1a;

$darkRed:               #cc4946;
$lightRed:              #ff1744;

$darkBlue:              #3a92ab;
$lightBlue:             #03A9F4;
$blue:					#2979FF;

$darkBlack:             #1a2229;
$lightBlack:            #2d353c;

$white:                 #ffffff;
$one:                   #00E5FF;
$two:                   #40C4FF;
$three:                 #00B0FF;
$four:                  #0091EA;
$five:                  #2962FF;

$one1:                   #FFAB91;
$two1:                   #FF8A65;
$three1:                 #FF7043;
$four1:                  #FF5722;
$five1:                  #F4511E;

$one2:                   #CE93D8;
$two2:                   #BA68C8;
$three2:                 #AB47BC;
$four2:                  #9C27B0;
$five2:                  #8E24AA;

$one3:                   #F48FB1;
$two3:                   #F06292;
$three3:                 #EC407A;
$four3:                  #E91E63;
$five3:                  #D81B60;

$bg-question-first:           #00E5FF;
$bg-question-second:           #FF6E40;
$bg-question-thirth:           #E040FB;
$bg-question-fourth:           #FF4081;
// //// Formal Theme:
// $primaryColor:          $mediumGrey;
// //$secondaryColor:        $darkGrey;
// //
// //$fontWeightLight:       200;
// $fontWeightMedium:      500;
// $fontWeightHeavy:       600;

// $fontColorLight:        #707478;
// $fontColorDark:         #242a30;

// $fontSizeBase:          13px;
// //$lineHeightBase:        1.4;
// //
// //$inputHeightBase:       40px;
// //$inputColor:            $lightGrey;
// //$inputBg:               #fff;
// //$inputBgDisabled:       #eee;
// $inputBorder:           #ccd0d4;
// $inputFocusBorder:      #9fa2a5;
// $inputWidth:            1px;

// //$inputBorderRadius:     3px;
// //
// //
// $borderRadius: 4px;
// //$btnBorderRadius: $borderRadius;
// //$authNavHeight: 32px;
